:root {
  --primary-color: #0500ff;
  --primary-hover: #1f2937;
  --white: #ffffff;
  --black: #000000;
  --ebony: #111827;
  --gray-light: #dbdee3;
  --gray-dark: #5b6472;
  --gray-cadet: #9ca3af;
  --transition-ease: 0.3s ease;
}

body {
  background: #f9fafb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-group > .form-control {
  border-radius: 4px !important;
}

.swiper-slide {
  width: auto !important;
}

.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-pagination {
  text-align: center;
  display: flex;
}

.swiper-pagination-horizontal {
  display: flex;
  background-color: royalblue;
  justify-content: left;
  gap: 1vw;
  margin-left: 7.2vw;
  max-width: 49vw;
  /* margin-bottom: 11.4vh; */
  margin-bottom: 5.1%;
}

.swiper-custom-bullet {
  height: 8px;
  width: 8px;
  background-color: var(--white);
  border-radius: 50%;
}

.swiper-custom-bullet.swiper-custom-bullet-active {
  height: 8px;
  width: 57px;
  background-color: var(--primary-color);
  border-radius: 10vw;
}
